In [55]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, index=labels)
print("First three rows of the data frame:")
print(df.iloc[:3])
df = df.dropna()
k = {'name': ["Suresh"], 'score': [15.5], 'attempts': [1], 'qualify': ["yes"]}
k = pd.DataFrame(k, index=['k'])
df = pd.concat([df, k])
df = df.drop('attempts', axis=1)
print("\nDataFrame after removing the 'attempts' column:")
print(df)
def determine_success(score):
    if score >= 10:
        return '1'
    else:
        return '0'

df['Success'] = df['score'].apply(determine_success)
print(df)
df.to_csv('data.csv', index=False)
print(df.head())

First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

DataFrame after removing the 'attempts' column:
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes
        name  score qualify Success
a  Anastasia   12.5     yes       1
b       Dima    9.0      no       0
c  Katherine   16.5     yes       1
e      Emily    9.0      no       0
f    Michael   20.0     yes       1
g    Matthew   14.5     yes       1
i      Kevin    8.0      no       0
j      Jonas   19.0     yes       1
k     Suresh   15.5     yes       1
        name  score qualify Success
a  Anastasia   12.5     yes       1
b       Dima    9.0      no       0
c  Katherine   16.5     yes       1
e      Emily    9.0      no       0
f    Michael   20.0     yes       1